body{
    margin: 0;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.container{
    width: 100%;
    margin-bottom: 0;
}

.calculator{
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    background-color: #161616;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 0;
}

.calculator__display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
    height: 10%;
}

.calculator__keys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #999;
    height: 80%;
}

 .calculator__keys > * {
    border: #ff7033 0.5px solid ;
    background-color: #fff;
 }

  
  .calculator__keys > *:active::before,
  .calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2); 
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset; 
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .key--operator {
    background-color: #eee;
  }
  
  .key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
    } 

